<<<<<<< HEAD
body {
    background-color: #f4f6f9;
}

.card {
    border-radius: 12px;
}
=======
body {
    background-color: #f4f6f9;
}

.card {
    border-radius: 12px;
}
>>>>>>> 6ed5a0610661de02d4c9fa8781a0f9e0d1287d6c
